<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/homescript.js" defer></script>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form>
        <input
          id="email"
          type="text"
          name="username"
          placeholder="Digite seu email..."
          required
        />
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Digite sua senha..."
          required
        />
        <input id="loginBtn" type="submit" value="Entrar" />
      </form>
    </div>
  </body>
</html>
