<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Randomizer</title>
    <link rel="stylesheet" href="css/lists.css" />
    <script
      src="https://kit.fontawesome.com/e3cd37ab50.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/listsscript.js" defer></script>
  </head>
  <body>
    <h1>Welcome to the List Randomizer!</h1>
    <p>
      Enter your items in the field below, each on a separate line. Then shuffle
      them!
    </p>
    <textarea
      placeholder="enter items here, each on a separate line..."
    ></textarea>
    <button id="shufflebtn" class="btn">Shuffle</button>
    <div>
      <button id="backbtn" class="btn hide">Back</button>
      <button id="saveListBtn" class="btn hide">Save my list</button>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p>Name your list:</p>
        <input
          type="text"
          placeholder="Enter text here"
          id="modalInput"
          maxlength="150"
        />
        <div class="modal-buttons">
          <button id="saveBtn" class="btn">Save</button>
          <button id="cancelBtn" class="btn">Cancel</button>
        </div>
      </div>
    </div>
  </body>
</html>
