body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea {
  min-width: 500px;
  min-height: 250px;
  margin: 20px 10px;
  display: block;
}
.btn {
  cursor: pointer;
  padding: 8px 8px;
  margin: 8px 8px;
  border-width: 0;
}
.hide {
  display: none;
}
/* O modal está escondido por padrão */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: animatetop 0.4s;
}

/* Animação do modal */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Estilo do botão de fechar */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para os botões dentro do modal */
.modal-buttons {
  margin-top: 20px;
  text-align: center;
}

#modalInput {
  width: 95%; /* Ajuste a largura para 95% da largura do modal */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}
